<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uniandes.sischok"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <supports-screens
        android:anyDensity="true"
        android:compatibleWidthLimitDp="384"
        android:largeScreens="true"
        android:largestWidthLimitDp="600"
        android:normalScreens="false"
        android:requiresSmallestWidthDp="320"
        android:resizeable="true" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<!--      <uses-permission android:name="android.permission.STATUS_BAR_SERVICE" android:protectionLevel="signature" /> -->
    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <!--
        uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" /
    -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name=".mundo.CentroEventos" />
        <service android:name=".mundo.CentroNotificaciones" />
        <service android:name=".mundo.DetectarBorrachosService" />

        <activity
            android:name=".Inicio"
            android:label="@string/title_activity_inicio" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CrearIncidenteBarrios"
            android:label="@string/title_activity_crear_incidente_barrios" >
        </activity>
        <activity
            android:name=".CrearIncidenteDescripcion"
            android:label="@string/title_activity_crear_incidente_descripcion"
            android:parentActivityName=".CrearIncidenteBarrios" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uniandes.sischok.CrearIncidenteBarrios" />
        </activity>
        <activity
            android:name=".CrearIncidenteGPS"
            android:label="@string/title_activity_crear_incidente_gps"
            android:parentActivityName=".CrearIncidenteGPS" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uniandes.sischok.CrearIncidenteGPS" />
        </activity>
        <activity
            android:name=".Bienvenida"
            android:label="@string/title_activity_bienvenida" >
        </activity>
        <activity
            android:name=".DetalleIncidente"
            android:label="@string/title_activity_detalle_incidente" >
        </activity>
        <activity
            android:name=".ConsultarIncidentes"
            android:label="@string/title_activity_consultar_incidentes" >
        </activity>
        <activity
            android:name=".CompartirIncidente"
            android:label="@string/title_activity_compartir_incidente" >
        </activity>
        <activity
            android:name=".VerResultadoIncidentes"
            android:label="@string/title_activity_ver_resultado_incidentes" >
        </activity>
        <activity
            android:name=".CrearIncidenteConLatLng"
            android:label="@string/title_activity_crear_incidente_latlng"
            android:parentActivityName=".CrearIncidenteConLatLng" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uniandes.sischok.CrearIncidenteConLatLng" />
        </activity>
        <activity
            android:name=".VistaEbrio"
            android:label="@string/title_activity_vista_ebrio" >
        </activity>
        
        <!-- Goolge Maps API Key -->
        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBY8jt4f1dgmCqXtBleXZcP_OKXQ7s6ft4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Borracho"
            android:label="@string/title_activity_borracho" >
        </activity>
        <activity
            android:name=".Pantallabloqueada"
            android:label="@string/title_activity_pantalla_bloqueada" >
        </activity>
    </application>

</manifest>
